@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: theme("colors.primary.deepsea");
    --background-start-rgb: theme("colors.white");
    --background-end-rgb: theme("colors.white");
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
