# NEXTJS APP ENV

NEXT_PRIVATE_NESTJS_ADDRESS="http://server:3000"

## NEXT AUTH
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="openssl rand -base64 32"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""
APP_JWT_SECRET="openssl rand -base64 32"

## PRISMA
DATABASE_URL="mysql://nextrpc_user:PASSWORD@localhost:3307/nextrpc_db"